<!DOCTYPE html>
<html lang="">
<head>
        {% load staticfiles %}
    <link REL="SHORTCUT ICON" HREF="/static/images/web.ico">
    <meta charset="UTF-8">
    {% block  title %}
    <title>订单管理</title>
    {% endblock %}
    <link href="/static/css/shangpinguanli.css" rel="stylesheet">
    <link href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% block link_style %}

    {% endblock %}
    <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/static/js/checkbok_btn.js"></script>


    {% block js %}
        <script>
    $(function () {
        $("#del_all").click(function() {

            $.each($('.check'), function () {
                if (this.checked) {
                    if(window.confirm('你确定要删除吗？')){
                        var msg = 1;
                    }else{
                        //alert("取消");
                        var msg = 0;
                    }
                    if(msg == 1){
                        var data = {'id': $(this).val()};
                        $.get("{% url 'del_order_s' %}",data,function(obj){
                            alert(obj.msg)
                        },"json");
                    }

                }
            });



        });
    })

</script>
    {% endblock %}
</head>
<body>
    <!--顶部-->
    <div id="title">
        <h1>商家管理系统</h1>
        <span>
            欢迎 {{ user.administrator_name }} 登陆商家管理系统
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'logout' %}">退出</a>
        </span>

    </div>

    <!--左侧导航栏-->
    <div id="list_left">
        <ol>
            {% block link %}
            <a href="/">
                <i class=""></i>
                <li>商品管理&nbsp;&nbsp;&nbsp;></li>
            </a>
            <a href="/leibie/type/">
                <i class=""></i>
                <li>类型管理&nbsp;&nbsp;&nbsp;></li>
            </a>
            <a href="{% url 'show_order' %}">
                <i class=""></i>
                <li>订单管理&nbsp;&nbsp;&nbsp;></li>
            </a>
            <a href="{% url 'show_huiyuan' %}">
                <i class=""></i>
                <li>会员管理&nbsp;&nbsp;&nbsp;></li>
            </a>
            <a href="">
                <i class=""></i>
                <li>数据展示&nbsp;&nbsp;&nbsp;></li>
            </a>
            {% endblock %}
        </ol>
    </div>



    <!--搜索栏-->
    {% block main %}
    <div id='search'>
        <form action="{% url 'select_order' %}" method="get">
            <span>订单单号：<input type="text" name="order_id"></span>
            <span>购买人姓名：<input type="text" name="people_name"></span>
            <span>手机号：<input type="text" name="people_phone" maxlength="11"></span>
            <br>
            <span>订单日期：<input type="date" name="order_date"></span>
            <input class="search_btn" type="submit" value="查询">
        </form>
    </div>
    <!--显示区域-->
    <div id="show_btn">
        <!--<input class="search_btn btn_1" type="button" name="" value="全选">-->
        <input id="del_all" class="search_btn btn_1" type="button" name="" value="批量删除">
        <a href="{% url 'select_goods' %}" class="search_btn" target="_blank">添加订单</a>
    </div>

    <div id="show">

        <table border="1px">
            <thead>
                <tr>
                    <th style="font-size: 10px">
                        <input type="checkbox" name="checkall" id="checkall">全选</th>
                    <th>订单编号</th>
                    <!--<th>商品名称</th>-->
                    <th>购买人</th>
                    <th>订单金额(元)</th>
                    <th>商品数量</th>
                    <th>订单时间</th>
                    <th>所获积分</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
            {% for order in orders %}
                <tr>
                    <td><input  class="check" value="{{ order.id }}" type="checkbox" name="check"></td>
                    <td>{{ order.order_id }}</td>
                    <!--<td>{{ order.goods.goods_name }}</td>-->
                    <td>{{ order.buy_prople.buy_people_name }}</td>
                    <td>{{ order.chengjiao_allmoney }}</td>
                    <td>{{ order.goumailiang }}</td>
                    <td>{{ order.dingdanshijian }}</td>
                    <td>{{ order.huodejifen }}</td>
                    <td><a href="{% url 'order_xiangqing' %}?order_id={{ order.id }}" target="_blank">订单详情</a>
                        <a href="{% url 'del_order' %}?id={{ order.id }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        <!--下一页-->
        <div id="next-page">

        </div>
    </div>
    {% endblock %}


</body>
</html>


