<!DOCTYPE html>
<html lang="">
<head>
        {% load staticfiles %}
    <link REL="SHORTCUT ICON" HREF="/static/images/web.ico">
    <meta charset="UTF-8">
    {% block  title %}
    <title>选择商品</title>
    {% endblock %}
    <link href="/static/css/shangpinguanli.css" rel="stylesheet">
    <link href="/static/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% block link_style %}

    {% endblock %}
    <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/static/js/checkbok_btn.js"></script>
    <style>
        #show{
            right: 54px;
            bottom: 553px;
        }
    </style>

</head>
<body>
    <div id="title">
        <h1>商家管理系统</h1>
        <span>
            欢迎 {{ user.administrator_name }} 登陆商家管理系统
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'logout' %}">退出</a>
        </span>

    </div>

    <!--左侧导航栏-->
    <div id="list_left">
        <ol>
            {% block link %}
            <a href="/">
                <i class=""></i>
                <li>商品管理&nbsp;&nbsp;&nbsp;></li>
            </a>
            <a href="/leibie/type/">
                <i class=""></i>
                <li>类型管理&nbsp;&nbsp;&nbsp;></li>
            </a>
            <a href="{% url 'show_order' %}">
                <i class=""></i>
                <li>订单管理&nbsp;&nbsp;&nbsp;></li>
            </a>
            <a href="{% url 'show_huiyuan' %}">
                <i class=""></i>
                <li>会员管理&nbsp;&nbsp;&nbsp;></li>
            </a>
            <a href="">
                <i class=""></i>
                <li>数据展示&nbsp;&nbsp;&nbsp;></li>
            </a>
            {% endblock %}
        </ol>
    </div>
    <div id="show">

        <table border="1px">
            <thead>
                <tr>
                    <th style="font-size: 10px">
                        <input type="checkbox" name="checkall" id="checkall">全选</th>
                    <th>商品编号</th>
                    <th>商品名称</th>
                    <th>商品类型</th>
                    <th>商品规格</th>
                    <th>销售价格</th>
                    <th>库存</th>
                </tr>
            </thead>

            <tbody>
            {% for good in goods %}
                <tr>
                    <td><input  class="check" value="{{ good.id }}" type="checkbox" name="check"></td>
                    <td>{{ good.goods_id }}</td>
                    <td>{{ good.goods_name }}</td>
                    <td>{{ good.goods_type }}</td>
                    <td>{{ good.goods_guige }}</td>
                    <td>{{ good.goods_price }}</td>
                    <td>{{ good.goods_kucun }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <input type="button" value="下一步" onclick="show()">

        <!--下一页-->
        <div id="next-page">

        </div>
    </div>




<script>
        function show(){
            obj = document.getElementsByName("check");
            check_val = [];
            for(k in obj){
                if(obj[k].checked)
                    check_val.push(obj[k].value);
            }
            var send_check_val = JSON.stringify(check_val);
            $.ajax({
                url:"{% url 'recv_goods' %}",
                type:'get',
                data:{'a':send_check_val},
                dataType:'json',
            });
            window.location.href="{% url 'select_peoples' %}"





        }


    </script>
</body>
</html>
