<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
    <body>
        <form method="post" action="{% url 'email_modfiy_pwd' %}">
            <input type="text" placeholder="请输入预留邮箱账号"> <br>
            <input type="text" placeholder="请输入验证码">
            <input type="button" value="获取验证码"><br>
            <input type="password" placeholder="请输入预留邮箱账号"><br>
            <input type="password" placeholder="请输入预留邮箱账号"><br>
        </form>
    </body>
</html>