<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/static/js/email_modfiy_pwd.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <link REL="SHORTCUT ICON" HREF="/static/images/web.ico">
</head>
<body>
<form>
    {% csrf_token %}
    <p>用户id：<input type="text" id="user_id" name="user_id"></p>
    <p>用户邮箱：<input type="email" id="useremail_id" name="useremail_id"></p>
    <p>
        验证码：
        <input type="text" placeholder="yzm" id="yzm">
        <button id="numbtn">获取</button>
    </p>
    <p>密码<input type="password" placeholder="" id="pwd1"></p>
    <p>确认密码<input type="password" placeholder="" id="pwd2"></p>
    <p>
        <button id="submitBtn">提交</button>
    </p>
</form>
</body>
</html>